streamlit
groq
python-dotenv==1.0.0
pypdf
langchain==0.1.17
langchain-community==0.0.35
langchain-core==0.1.52
chromadb==0.4.22
sentence-transformers==2.2.2
huggingface-hub
numpy==1.26.4
pydantic==1.10.13
protobuf
